@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --cor0: #E5E5E5;
  --cor1: #ABC4FF;
  --cor2: #709BFF;
  --cor3: #3560E8;
  --cor4: #fff;
  --cor5: #00017A;
  --cor6: #354057;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--cor1);
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

p {
  color: var(--cor6);
}

@media screen and (max-width: 900px) {
  
  body {
    font-size: 1em;
  }
}



