header {
    margin: 0;
    background-color: var(--cor0);
    width: 100%;
}

.container-header {
    height: 100px;
    width: 1200px;
    margin: 0 auto;
    background-color: var(--cor0);
}

.logo img{
    margin: 10px 0;
    max-width:180px;
    max-height: 90px;
    width: auto;
    height: auto;
}

@media screen and (max-width: 1000px) {

    header {
        width: 100%;
        margin: 0;
    }

    .container-header {
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    header {
        width: 100%;
    }

    .container-header {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    header {
        width: 100%;
    }

    .container-header {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {

    header {
        width: 100%;
    }

    .container-header {
        width: 100%;
    }
}

